/* about page starts here */
/* add background image to banner section */
.about-banner {
    background-image: url(../assets/banners/about-banner-1500.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-banner h1 {
    text-align: center;
    width: 80%;
}

.about {
    padding: 5% 17%;
}

.story p {
    margin-bottom: 1rem;
}

/* style the stuff section using grid system */
/* Use border radius to turn stuff images into circles */
.stuff-cards {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
}

.stuffcard {
    text-align: center;
}

.stuffcard img {
    max-width: 100%;
    border-radius: 50%;
}


/* first breaking point @1024px */
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 3rem;
    }

    .stuff-cards {
        grid-template-columns: 1fr 1fr;
    }
}

/* second and last breaking point @578px */
@media screen and (max-width: 578px) {

    .stuff-cards {
        grid-template-columns: 1fr;
    }

    .stuff-cards div:last-child {
        margin-bottom: 100px;
    }

}