/* contact page starts here */
.contact-banner {
    background-image: url(/assets/banners/contact-banner-1500.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    padding: 5% 10%;
}

.contact-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.contact-area img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: aliceblue;
}


.contact-form {
    display: block;
    padding: 50px;
}

form {
    width: 100%;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #2A5687;
}

#name,
#email,
#message {
    width: 95%;
    border: #2A5687 solid 1px;
    border-radius: 5px;
}

#name,
#email {
    height: 2rem;
}

#message {
    height: 10rem;
}

.contact-form button {
    margin-top: 20px;
    width: 95%;
}

.contact-info h2 {
    padding-top: 5%;
}

.contact-info p {
    color: #2A5687;
    text-align: center;
}

.contact-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #C1D8ED;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-icon {
    padding: 50px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    #greetingbear {
        display: none;
    }

    .contact-area {
        grid-template-columns: 1fr;
    }

    .contact-form {
        padding: 10px;
    }

    .contact-icons {
        grid-template-columns: 1fr 1fr;
    }

    .contact-icon {
        padding: 10%;
    }

    .contact-icon img {
        width: 35px;
    }

}