/* style the banner, hidding the small banner on large screens */
.banner {
    position: relative;
    width: 100%;
}

#home-banner-sm {
    display: none;
}


.banner img {
    width: 100%;
    height: 500px;
    display: block;
    object-fit: cover;
}

.banner:hover {
    animation: shake 0.5s ease-in-out forwards;
}

@keyframes shake {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }
}

#waterdrop-left {
    display: block;
    object-fit: none;
    height: 40px;
    width: fit-content;
    position: absolute;
    top: 5%;
    left: 5%;
}

#waterdrop-right {
    display: block;
    object-fit: none;
    height: 60px;
    width: fit-content;
    position: absolute;
    bottom: 50%;
    left: 37%;
}

/* add a fade in animation to banner image */
.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.banner-content {
    width: 30%;
    position: absolute;
    top: 10%;
    left: 11%;
}

.banner-content p {
    font-size: 1.2rem;
    color: #2A5687;
    padding-bottom: 1rem;
}


/* style the sales area using grid- categories and products */
.sale {
    padding: 5% 10%;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.categories,
.top-products {
    margin-bottom: 5%;
}

.top-products {
    padding-top: 50px;
}

/* style the category cards using grid system */
.cate-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
    padding-top: 3%;
}

.cate-card img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.cate-card {
    position: relative;
}

.cate-card h3 {
    position: absolute;
    left: 5%;
    top: 1%;
    color: white;
    z-index: 2;
}

/* Add a black translucent mask that will gradually disappear when hovering */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: background-color 0.5s ease;
}


.overlay:hover {
    background-color: rgba(0, 0, 0, 0);
}

/* style products area using grid system*/

.product-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
    padding-top: 3%;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.product-card img:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}


/* style the customer feedback area using grid system*/
.reviews {
    background-color: #C1D8ED;
}

.review-header {
    text-align: center;
    padding: 5% 0;
}

.review-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
    padding: 3% 10% 10% 10%;
}

.review-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

/* first breaking point @1024px */
/* reduce the number of grid columns */
@media screen and (max-width: 1024px) {
    .cate-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .review-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    /* hide the water drop icon on small devices */

    .banner-icon {
        display: none;
    }

}

/* second and last breaking point @578px */
@media screen and (max-width: 578px) {

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .main-button {
        font-size: 1.2rem;
        width: 100%;
    }

    /* change the banner image to mobile version */
    #home-banner-lg {
        display: none;
    }

    #home-banner-sm {
        display: block;
    }

    .banner-content {
        width: 60%;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -60%);
        text-align: center;
    }

    /* add a background color to banner content to improve the accessibility  */
    .banner-content {
        background-color: rgba(255, 221, 84, 0.5);
    }

    /* reduce the number of grid columns */
    .cate-cards {
        grid-template-columns: 1fr;
    }

    .product-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .review-cards {
        grid-template-columns: 1fr;
    }

    .review-cards div:last-child {
        margin-bottom: 30px;
    }

    .review-header {
        padding: 10%;
    }



}