/* general styles */
html {
    font-size: 14px;
}

body {
    font-family: "kopik", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

.container {
    min-width: 320px;
}

h1,
h2,
h3 {
    font-weight: 800;
    line-height: 1.5;
}

h1 {
    font-family: 'Chango', sans-serif;
    font-size: 4rem;
    color: whitesmoke;
}

h2 {
    font-size: 3rem;
    color: #2A5687;
}

h3 {
    font-size: 2rem;
    color: #2A5687;
}

h4 {
    font-size: 1.5rem;
}


p {
    line-height: 2;
}

img {
    max-width: 100%;
}

/* style the buttons: a main button and a sub button*/
/* add animations to each button */
/* change background colors and enlarge when hovered */
button {
    font-weight: bold;
}


.main-button {
    background-color: #2A5687;
    color: white;
    padding: 20px 50px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease-out;

}

.main-button:hover {
    background-color: #C1D8ED;
    color: #2A5687;
    transform: scale(1.1);
}

.sub-button {
    color: #2A5687;
    background-color: white;
    border: #2A5687 2px solid;
    border-radius: 15px;
    padding: 10px 20px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease-out;
}

.sub-button:hover {
    background-color: #2A5687;
    color: white;
    transform: scale(1.1);
}

/* add an arrow icon to the sub button */
.sub-button img {
    height: 20px;
    padding-left: 5px;
}

/* style the skip links - hidden defaultly and shows when focused */
.skip-link {
    position: absolute;
    top: -50em;
}

.skip-link:focus {
    left: auto;
    right: 10px;
    top: 5px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}

/* style the header section */
/* style the navigation area */
.nav-mobile {
    display: none;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: end;
}

.main-menu {
    width: 50%;
}

/* main menu list styling- flex column */
.main-menu ul {
    width: 100%;
    display: flex;
    position: relative;
    right: 50px;
    justify-content: flex-end;
    list-style: none;
    height: 100px;
}

ul li {
    align-self: center;
    padding: 20px;
}

.main-menu li a {
    text-decoration: none;
    font-size: 1rem;
    color: #2A5687;
}

.main-menu li a:hover {
    color: #84bcf1;
    text-decoration: underline;
}

/* style the logo and searchbar */
#mainlogo {
    width: 100px;
    display: block;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

#searchbar {
    height: 20px;
    align-self: center;
    border-radius: 15px;
    border: 1px solid #2A5687;
    position: relative;
    right: 30px;
}

/* style the footer area */
#sublogo {
    display: block;
    margin: 0 auto;
}

.social-media {
    background-color: #2A5687;
    color: white;
    padding: 100px;
    text-align: center;
}

footer p {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: #2A5687;
    font-style: italic;
    padding-bottom: 30px;
}

.social-media img {
    width: 34px;
    padding-top: 1rem;
}


/* add breaking point @578px */
@media screen and (max-width: 578px) {

    /* change the font size */
    html {
        font-size: 12px;
    }

    /* hide the logo and search bar in desktop version */
    #mainlogo,
    #searchbar {
        display: none;
    }


    /* style the mobile navigation in flex */
    .nav-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #mainlogo-mobile {
        width: 150px;
    }

    /* change menu from row to column */
    .main-menu ul {
        flex-direction: column;
        position: relative;
        right: 50%;
        height: 150px;
    }


}